html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Tablets and under  */

@media (max-width: 768px) {
  html{
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  html{
    font-size: 8px;
  }
}
